@import "bootstrap";

html {
	height: 100%;
	background: url(background_image.jpg) no-repeat center center fixed;
	background-size: cover;
}

body {
	margin: 0 30px;
	background: transparent;
}

.btn-lg {
	width: 200px;
}

#search_flights {
	margin-top: 17px;
}

#choose_flight {
	margin-left: 40px;
}

.flight-list {
	margin-left: 30px;
	margin-top: 50px;
}

.alert-success {
	@extend .alert-info;
}

.alert-error {
	@extend .alert-danger;
}

.field_with_errors {
	@extend .has-error;
}

#passenger-errors {
	@extend .text-warning;
	@extend .well;
	padding: 5px 20px;
}

legend {
	color: #3333cc;
}
